<mat-card class="container-fluid form-wrapper">
  <mat-form-field class="form-group w-100 mb-0">
    <mat-label>Transition speed</mat-label>
    <input matInput [value]="timing | number" class="form-control" #input (change)="timing = +input.value">
  </mat-form-field>
</mat-card>

<mat-card class="box" [@transition]="
  {
    value: changePosition ? 'oldState': 'newState',
    params: {
      leftIndex: leftIndex,
      topIndex: topIndex,
      timing: timing
    }
  }"
>
  Box
</mat-card>

<div class="alert alert-danger position-absolute w-100 text-center" style="top: 40vh;">When you narrow down on responsive, please refresh. Thanks</div>
